<h1>My To-do List</h1>

<table class="todo_items">
    <% @items.each do |item| %>
    <tr>
      <td class="col-md-4"><%= link_to item.body, item %></td>
      <td class="col-md-2"><%= time_ago_in_words(item.created_at) %></td>
      <td class="col-md-2"><%= link_to "Mark Complete", complete_item_path(item), method: :patch %></td>
    </tr>
    <% end %>
</table>

<%= link_to "Add a new todo", new_item_path, class: 'btn btn-success' %>

</br>

<%= will_paginate @items %>

